<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.rquinn.darts.DartsMapper'>

    <resultMap id="user" type="com.rquinn.darts.model.User">
        <result property="username" column="username"></result>
        <result property="email" column="email"></result>
        <result property="password" column="password"></result>
        <result property="resetToken" column="reset_token"></result>
        <result property="resetTimestamp" column="reset_timestamp"></result>
    </resultMap>

    <resultMap type='com.rquinn.darts.DartsResult' id='dartsResultValue'>
        <id property='id' column='id'/>
        <result property='type' column='type'/>
        <result property='score' column='score'/>
        <result property='dateTimeManagement.timestamp' column='date'/>
        <result property='numRounds' column='num_rounds'/>
    </resultMap>

    <resultMap type="com.rquinn.darts.ThreeOhOneResult" id="threeOhOneResult">
        <id property='id' column='id'/>
        <result property='type' column='type'/>
        <result property='score' column='score'/>
        <result property='dateTimeManagement.timestamp' column='date'/>
        <result property='numRounds' column='num_rounds'/>
        <result property='doubleIn' column='double_in'/>
        <result property='doubleOut' column='double_out'/>
        <result property='out' column='out'/>
    </resultMap>

    <resultMap type='com.rquinn.darts.model.Dart' id='gameDetails'>
        <result property='id' column='id'/>
        <result property='round' column='round'/>
        <result property='actual' column='actual'/>
        <result property='score' column='score'/>
    </resultMap>

    <resultMap id="freeAverageData" type="com.rquinn.darts.FreeAverageData">
        <result property="target" column="target"></result>
        <result property="score" column="aggregateScore"></result>
        <result property="numDarts" column="numDarts"></result>
    </resultMap>

    <resultMap id="practiceOverviewData" type="com.rquinn.darts.model.PracticeOverviewData">
        <result property="type" column="type"></result>
        <result property="totalScore" column="score"></result>
        <result property="totalNumRounds" column="rounds"></result>
    </resultMap>

    <resultMap id="dartsAnalyticsResult" type="com.rquinn.darts.model.DartsAnalyticsResult">
        <result property="type" column="target"></result>
        <result property="actual" column="actual"></result>
        <result property="numDarts" column="numDarts"></result>
    </resultMap>

    <resultMap id="dateTimeManagement" type='com.rquinn.darts.DateTimeManagement'>
        <result property='timestamp' column='reset_timestamp'></result>
    </resultMap>

    <select id='getResultById' parameterType='int' resultMap="dartsResultValue">
        SELECT id, type, score
        FROM darts_result
        WHERE id = #{id}
    </select>

    <select id='getAllResults' parameterType="map"  resultMap='dartsResultValue'>
        SELECT id, UPPER(type), score, date, num_rounds FROM darts_result
        WHERE type = #{type}
        AND darts_user = #{username}
        ORDER BY date DESC;
        -- to filter by date:  AND date >= STR_TO_DATE('2012-12-16 10:00:00', '%Y-%m-%d %H:%i:%s');
    </select>

    <select id='getTenResults' parameterType="map"  resultMap='dartsResultValue'>
        SELECT  id, UPPER(type), score, date, num_rounds FROM darts_result
        WHERE type = #{type}
        AND darts_user = #{username}
        ORDER BY date DESC
        LIMIT 10;
    </select>

    <select id='getTenOhOneResults' parameterType="map"  resultMap='threeOhOneResult'>
        SELECT  id, UPPER(type), score, date, num_rounds, double_in, double_out, out  FROM darts_result
        WHERE type = #{type}
        AND darts_user = #{username}
        ORDER BY date DESC
        LIMIT 10;
    </select>

    <select id='getNumResults' parameterType="map"  resultType='int'>
        SELECT  COUNT(1)  FROM darts_result
        WHERE type = #{type}
        AND darts_user = #{username};
    </select>

    <insert id='insertGame' parameterType='DartsResult' useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO darts_result(type, score, date, darts_user, num_rounds)
        VALUES(#{type.value}, #{score}, #{dateTimeManagement.timestamp}, #{username}, #{numRounds})
    </insert>

    <insert id="insert301Game" parameterType='ThreeOhOneResult' useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO darts_result(type, score, date, darts_user, num_rounds, double_in, double_out, out)
        VALUES(#{type.value}, #{score}, #{dateTimeManagement.timestamp}, #{username}, #{numRounds}, #{doubleIn}, #{doubleOut}, #{out})
    </insert>

    <insert id='insertRound' parameterType='map' useGeneratedKeys='true' keyProperty='roundResult.id'>
        INSERT INTO turn(round, score, game_id)
        VALUES(#{roundResult.round}, #{roundResult.score}, #{foreignKey})
    </insert>

    <insert id="insertThreeDartRound" parameterType='map' useGeneratedKeys="true" keyProperty="roundResult.id">
        INSERT INTO three_dart_turn(firstDart, secondDart, thirdDart, round, game_id)
        VALUES(#{roundResult.firstDart}, #{roundResult.secondDart}, #{roundResult.thirdDart}, #{roundResult.round}, #{foreignKey})
    </insert>

    <insert id="insertDart" parameterType='map' useGeneratedKeys="true" keyProperty="dart.id">
        INSERT INTO dart(target, actual, round, score, game_id)
        VALUES(#{dart.target}, #{dart.actual}, #{dart.round}, #{dart.score}, #{foreignKey})
    </insert>

    <select id="getPrimaryKey" resultType="int">
        select lastval()
    </select>

    <select id="getGameDetails" parameterType="int" resultMap="gameDetails">
        select * from dart where game_id = #{gameId};
    </select>

    <update id='updateResult' parameterType='DartsResult'>
        UPDATE darts_result
        SET
        type = #{type},
        score = #{score},
        WHERE id = #{id}
    </update>

    <delete id='deleteResult' parameterType='int'>
        DELETE FROM darts_result WHERE id = #{id}
    </delete>

    <insert id="insertUser" parameterType="map">
        INSERT INTO users (username, password) VALUES (#{name}, #{encryptedPassword});
    </insert>

    <update id="insertResetToken" parameterType="map">
        UPDATE users
        SET
        reset_token = #{token},
        reset_timestamp = 'now'
        WHERE email = #{email};
    </update>

    <select id='isPasswordResetTokenValid' parameterType='String' resultType='java.sql.Timestamp'>
        SELECT reset_timestamp FROM users where reset_token = #{token};
    </select>

    <select id='getUserDetailsByToken' parameterType='map' resultType='user'>
        SELECT username, email, password, reset_token, reset_timestamp FROM users WHERE reset_token = #{token} and email = #{email};
    </select>

    <select id='getUserByEmail' parameterType='String' resultType='user'>
        SELECT username, email, password, reset_token, reset_timestamp FROM users WHERE email = #{email};
    </select>

    <update id='resetPassword' parameterType='map'>
        UPDATE users SET password = #{pw} WHERE email = #{email};
    </update>

    <select id="isValidEmail" parameterType="String" resultType='int'>
        SELECT count(1) from users WHERE email = #{email};
    </select>

    <select id="getFreeAverages" parameterType="String" resultMap="freeAverageData">
        SELECT target, sum(score) as aggregateScore, count(target) as numDarts from dart
        WHERE game_id in
            (SELECT id FROM darts_result
            WHERE type='free'
            AND darts_user = #{userName})
        GROUP BY target;
    </select>

    <select id="getPracticeOverviewData" parameterType="String" resultMap="practiceOverviewData">
        SELECT sum(score) as score, sum(num_rounds) as rounds, type
        FROM darts_result
        WHERE type in ('bull', '20', '19', '18', '17', '16', '15')
        AND darts_user = #{userName}
        GROUP BY type;
    </select>

    <select id="getLatestTargetPracticeRound" parameterType="map" resultMap="dartsResultValue">
        SELECT id, type, score, date, num_rounds
        FROM darts_result
        WHERE darts_user=#{userName} and type=#{type}
        ORDER BY date desc
        LIMIT 1;
    </select>

    <select id="getHistoryOverview" parameterType="map" resultMap="dartsResultValue">
        SELECT sum(score) as score, sum(num_rounds) as num_rounds
        FROM darts_result
        WHERE darts_user=#{userName} and type=#{type}
        AND date > current_date - #{days};
    </select>

    <select id="getAnalyticsData" parameterType="map" resultMap="dartsAnalyticsResult">
        SELECT target, actual, count(*) as numDarts FROM dart
        WHERE game_id IN (
            SELECT id FROM darts_result
            WHERE type=#{type} and darts_user=#{userName})
        GROUP BY target, actual ORDER BY count(*) desc;
    </select>

</mapper>