<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.rquinn.darts.DartsMapper'>

    <resultMap type='com.rquinn.darts.DartsResult' id='dartsResultValue'>
        <id property='id' column='id'/>
        <result property='type' column='type'/>
        <result property='score' column='score'/>
        <result property='dateTimeManagement.timestamp' column='date'/>
        <result property='numRounds' column='numRounds'/>
    </resultMap>

    <resultMap type='com.rquinn.darts.ThreeDartRoundResult' id='gameDetails'>
        <result property='id' column='id'/>
        <result property='round' column='round'/>
        <result property='firstDart' column='firstDart'/>
        <result property='secondDart' column='secondDart'/>
        <result property='thirdDart' column='thirdDart'/>
    </resultMap>

    <resultMap id="singleDartResult" type="com.rquinn.darts.SingleDartResult">
        <result property='dart' column='dart'/>
        <result property="target" column="target"/>
        <result property="score" column="score"/>
        <result property='dateTimeManagement.timestamp' column='dart_time'/>
    </resultMap>



    <resultMap id="freeAverageData" type="com.rquinn.darts.FreeAverageData">
        <result property="type" column="target"></result>
        <result property="score" column="aggregateScore"></result>
        <result property="numDarts" column="numDarts"></result>
    </resultMap>

    <select id='getResultById' parameterType='int' resultMap="dartsResultValue">
        SELECT
        id as id,
        type as type,
        score as score
        FROM darts_result
        WHERE id = #{id}
    </select>

    <select id='getAllResults' parameterType="map"  resultMap='dartsResultValue'>
        SELECT id, UPPER(type), score, date, numRounds FROM darts_result
        WHERE type = #{type}
        AND darts_user = #{username}
        ORDER BY date DESC;
        -- to filter by date:  AND date >= STR_TO_DATE('2012-12-16 10:00:00', '%Y-%m-%d %H:%i:%s');
    </select>

    <select id='getTenResults' parameterType="map"  resultMap='dartsResultValue'>
        SELECT  id, UPPER(type), score, date, numRounds  FROM darts_result
        WHERE type = #{type}
        AND darts_user = #{username}
        ORDER BY date DESC
        LIMIT 10;
    </select>

    <select id='getNumResults' parameterType="map"  resultType='int'>
        SELECT  COUNT(1)  FROM darts_result
        WHERE type = #{type}
        AND darts_user = #{username};
    </select>

    <insert id='insertGame' parameterType='DartsResult' useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO darts_result(type, score, date, darts_user, numRounds)
        VALUES(#{type.value}, #{score}, #{timestamp}, #{username}, #{numRounds})
    </insert>

    <insert id='insertRound' parameterType='map' useGeneratedKeys='true' keyProperty='roundResult.id'>
        INSERT INTO turn(round, score, game_id)
        VALUES(#{roundResult.round}, #{roundResult.score}, #{foreignKey})
    </insert>

    <insert id="insertThreeDartRound" parameterType='map' useGeneratedKeys="true" keyProperty="roundResult.id">
        INSERT INTO three_dart_turn(firstDart, secondDart, thirdDart, round, game_id)
        VALUES(#{roundResult.firstDart}, #{roundResult.secondDart}, #{roundResult.thirdDart}, #{roundResult.round}, #{foreignKey})
    </insert>

    <insert id="insertFreeDart" parameterType="SingleDartResult" useGeneratedKeys="true">
      INSERT INTO free_dart(target, dart, score, dart_time)
      VALUES(#{target}, #{dart}, #{score}, #{dateTimeManagement.timestamp})
    </insert>

    <select id="getPrimaryKey" resultType="int">
        select lastval()
    </select>

    <select id="getGameDetails" parameterType="int" resultMap="gameDetails">
        select * from three_dart_turn where game_id = #{gameId};
    </select>

    <update id='updateResult' parameterType='DartsResult'>
        UPDATE darts_result
        SET
        type = #{type},
        score = #{score},
        WHERE id = #{id}
    </update>

    <delete id='deleteResult' parameterType='int'>
        DELETE FROM darts_result WHERE id = #{id}
    </delete>

    <insert id="insertUser" parameterType="map">
        INSERT INTO users (username, password) VALUES (#{name}, #{encryptedPassword});
    </insert>

    <select id="getFreeAverages" parameterType="String" resultMap="freeAverageData">
        SELECT target, sum(score) as aggregateScore, count(target) as numDarts from free_dart group by target;
    </select>

    <select id="getFreeTargetHistory" parameterType="map" resultMap="singleDartResult">
        SELECT * from free_dart where target = #{target} ORDER BY dart_time LIMIT 100;
    </select>

</mapper>