@media all and (min-width:40em)
  .content
    max-width 31em
  .resultsChart
    width 31em
@media all and (min-width:62.66em)
  .content
    max-width 47em
  .resultsChart
    width 47em
@media all and (min-width: 78.32em)
  .content
    max-width 62.66em
  .resultsChart
    width 62.66em
@media all and (min-width:93.98em)
  .content
    max-width 74.65em
  .resultsChart
    width 74.65em